/* Lists  https://developer.mozilla.org/en-US/docs/Web/CSS/Class_selectors */
li.disc {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    list-style: disc;
    line-height: 1.6em
}

ul.disc {
    margin-left: 35px;
}

li {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

ul {
    margin-left: 10px;
}

.mermaid {
    max-width: 695px;
    max-height: 215px;
    margin-left: 60px;
}

li.numeric {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    list-style-type: decimal;
    line-height: 1.6em
}

ol.numeric {
    margin-left: 35px;
}

/* Paragraphs */
p {
    margin-bottom: 12.5px;
    margin-top: 12.5px;
}
