
.rst-content h1 {
    margin-top: 0.25rem;
}

.rst-content hr {
    margin-top: 1.5rem;
    margin-bottom: 2.0rem;
}

.wy-breadcrumbs li {
    vertical-align: middle;
    margin-bottom: 8px;
}

.wy-side-nav-search {
    padding: 2.45rem 2.5rem 0 2.5rem;
}

.wy-menu-vertical {
    padding-top: 1.225rem;
}

.wy-form {
    margin-top: 25px;
}

li.disc {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    list-style: disc;
    line-height: 1.6em
}

ul.disc {
    margin-left: 35px;
}

li {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

ul {
    margin-left: 10px;
}

.mermaid {
    max-width: 695px;
    max-height: 215px;
    margin-left: 60px;
}

li.numeric {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    list-style-type: decimal;
    line-height: 1.6em
}

ol.numeric {
    margin-left: 35px;
}

/* Paragraphs */
p {
    margin-bottom: 13px;
    margin-top: 13px;
}

/**
 * Figure caption
 */
figcaption {
    padding: 2px;
    margin-left: 80px;
    margin-right: 15px;
    text-align: left;
}

/* img */
img.small {
    margin-left:65px;
    width:80%;
}

img.x-small {
    margin-left: 85px;
}
